USE [master]
GO
/****** Object:  Database [Quizz]    Script Date: 06-Jul-16 09:48:12 PM ******/
CREATE DATABASE [Quizz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quizz', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.WHITE\MSSQL\DATA\Quizz.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Quizz_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.WHITE\MSSQL\DATA\Quizz_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quizz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quizz]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ADMINID] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[CODECOURSE] [int] IDENTITY(1,1) NOT NULL,
	[NAMECOURSE] [nvarchar](50) NULL,
	[CONTENTCOURSE] [nvarchar](100) NULL,
 CONSTRAINT [PK__COURSE__E452106AFF944C7D] PRIMARY KEY CLUSTERED 
(
	[CODECOURSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXAM]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM](
	[CODEEXAM] [int] IDENTITY(1,1) NOT NULL,
	[CODECOURSE] [int] NOT NULL,
	[CODETASK] [int] NULL,
	[NAMEEXAM] [nvarchar](50) NULL,
 CONSTRAINT [PK__EXAM__B7A2435BD5BD6A72] PRIMARY KEY CLUSTERED 
(
	[CODEEXAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUESTION](
	[CODEQUES] [int] IDENTITY(1,1) NOT NULL,
	[CODEEXAM] [int] NOT NULL,
	[QA] [nvarchar](70) NULL,
	[QB] [nvarchar](70) NULL,
	[QC] [nvarchar](70) NULL,
	[QD] [nvarchar](70) NULL,
	[ANSWER] [varchar](10) NULL,
	[QUESTION] [nvarchar](300) NULL,
 CONSTRAINT [PK__QUESTION__E5C4BDD18538FE49] PRIMARY KEY CLUSTERED 
(
	[CODEQUES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTRATION]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRATION](
	[CODEREGIS] [int] IDENTITY(1,1) NOT NULL,
	[STUDENTID] [int] NOT NULL,
	[CODEEXAM] [int] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__REGISTRA__A60B50BCA4237F7C] PRIMARY KEY CLUSTERED 
(
	[CODEREGIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REPLY]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPLY](
	[CODEQUES] [int] NOT NULL,
	[CODETASK] [int] NOT NULL,
 CONSTRAINT [PK__REPLY__E3C96FEB9A8C6EA6] PRIMARY KEY CLUSTERED 
(
	[CODEQUES] ASC,
	[CODETASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUDENTID] [int] IDENTITY(1,1) NOT NULL,
	[SNAME] [nvarchar](50) NULL,
	[Username] [varchar](50) NULL,
	[SPASSWORD] [varchar](20) NULL,
	[AGE] [int] NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[EMAIL] [varchar](30) NULL,
 CONSTRAINT [PK__STUDENT__495196F0BD8D56DD] PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 06-Jul-16 09:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[CODETASK] [int] IDENTITY(1,1) NOT NULL,
	[CODEREGIS] [int] NOT NULL,
	[CODEEXAM] [int] NOT NULL,
	[TOTAL] [int] NULL,
 CONSTRAINT [PK__TASK__60DD23A17BF346D4] PRIMARY KEY CLUSTERED 
(
	[CODETASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ADMIN] ([ADMINID], [PASSWORD]) VALUES (N'white', N'anh123')
SET IDENTITY_INSERT [dbo].[COURSE] ON 

INSERT [dbo].[COURSE] ([CODECOURSE], [NAMECOURSE], [CONTENTCOURSE]) VALUES (7, N'Lớp 6', N'Dành cho học sinh lớp 6')
INSERT [dbo].[COURSE] ([CODECOURSE], [NAMECOURSE], [CONTENTCOURSE]) VALUES (8, N'Lớp 7', N'Dành cho học sinh lớp 7')
INSERT [dbo].[COURSE] ([CODECOURSE], [NAMECOURSE], [CONTENTCOURSE]) VALUES (9, N'Lớp 10', N'Dành cho học sinh lớp 10')
SET IDENTITY_INSERT [dbo].[COURSE] OFF
SET IDENTITY_INSERT [dbo].[EXAM] ON 

INSERT [dbo].[EXAM] ([CODEEXAM], [CODECOURSE], [CODETASK], [NAMEEXAM]) VALUES (7, 12, NULL, N'Đề 1')
INSERT [dbo].[EXAM] ([CODEEXAM], [CODECOURSE], [CODETASK], [NAMEEXAM]) VALUES (8, 7, NULL, N'Toán Lớp 6 (Đề 1)')
INSERT [dbo].[EXAM] ([CODEEXAM], [CODECOURSE], [CODETASK], [NAMEEXAM]) VALUES (9, 7, NULL, N'Toán Lớp 6 (Đề 2)')
SET IDENTITY_INSERT [dbo].[EXAM] OFF
SET IDENTITY_INSERT [dbo].[QUESTION] ON 

INSERT [dbo].[QUESTION] ([CODEQUES], [CODEEXAM], [QA], [QB], [QC], [QD], [ANSWER], [QUESTION]) VALUES (64, 7, N'30 cm', N'60 cm', N'90 cm', N'45 cm', N'A', N'Trên một sợi dây căng ngang với hai đầu cố định đang có sóng dừng. Không xét các điểm bụng hoặc nút, quan sát thấy những điểm có cùng biên độ và ở gần nhau nhất thì đều cách đều nhau 15cm. Bước sóng trên dây có giá trị bằng')
INSERT [dbo].[QUESTION] ([CODEQUES], [CODEEXAM], [QA], [QB], [QC], [QD], [ANSWER], [QUESTION]) VALUES (65, 8, N'13/3', N'2.5%', N'4%', N'40%', N'B', N'Phân số 2/5 viết dưới dạng phần trăm là:')
INSERT [dbo].[QUESTION] ([CODEQUES], [CODEEXAM], [QA], [QB], [QC], [QD], [ANSWER], [QUESTION]) VALUES (66, 8, N'5', N'6', N'8', N'10', N'B', N'Lớp 6A có 40 học sinh trong đó có 12,5% là học sinh giỏi. Số học sinh giỏi của lớp 6A là:')
SET IDENTITY_INSERT [dbo].[QUESTION] OFF
SET IDENTITY_INSERT [dbo].[REGISTRATION] ON 

INSERT [dbo].[REGISTRATION] ([CODEREGIS], [STUDENTID], [CODEEXAM], [STATUS]) VALUES (11, 1, 8, 0)
INSERT [dbo].[REGISTRATION] ([CODEREGIS], [STUDENTID], [CODEEXAM], [STATUS]) VALUES (22, 12, 8, 0)
INSERT [dbo].[REGISTRATION] ([CODEREGIS], [STUDENTID], [CODEEXAM], [STATUS]) VALUES (23, 12, 8, 0)
SET IDENTITY_INSERT [dbo].[REGISTRATION] OFF
SET IDENTITY_INSERT [dbo].[STUDENT] ON 

INSERT [dbo].[STUDENT] ([STUDENTID], [SNAME], [Username], [SPASSWORD], [AGE], [ADDRESS], [EMAIL]) VALUES (1, N'Búi Thế Anh', N'theanh', N'anh123', 23, N'48/35 Bình Hung Hòa A', N'btheanh174@gmail.com')
INSERT [dbo].[STUDENT] ([STUDENTID], [SNAME], [Username], [SPASSWORD], [AGE], [ADDRESS], [EMAIL]) VALUES (10, N'Thế Anh', N'btheanh', N'anh123', 12, N'48/35 Bình Hưng Hòa A', N'btheanh174@gmail.com')
INSERT [dbo].[STUDENT] ([STUDENTID], [SNAME], [Username], [SPASSWORD], [AGE], [ADDRESS], [EMAIL]) VALUES (11, N'hgfhgf', N'hfghfh', N'fghfhf', 1, N'sffsdf', N'gfgfg')
SET IDENTITY_INSERT [dbo].[STUDENT] OFF
ALTER TABLE [dbo].[EXAM]  WITH CHECK ADD  CONSTRAINT [FK_HAS3] FOREIGN KEY([CODECOURSE])
REFERENCES [dbo].[COURSE] ([CODECOURSE])
GO
ALTER TABLE [dbo].[EXAM] CHECK CONSTRAINT [FK_HAS3]
GO
ALTER TABLE [dbo].[EXAM]  WITH CHECK ADD  CONSTRAINT [FK_RELATIONSHIP_6] FOREIGN KEY([CODETASK])
REFERENCES [dbo].[TASK] ([CODETASK])
GO
ALTER TABLE [dbo].[EXAM] CHECK CONSTRAINT [FK_RELATIONSHIP_6]
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_HAS4] FOREIGN KEY([CODEEXAM])
REFERENCES [dbo].[EXAM] ([CODEEXAM])
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [FK_HAS4]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_HAS] FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[STUDENT] ([STUDENTID])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK_HAS]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_REGISTRATION_EXAM] FOREIGN KEY([CODEEXAM])
REFERENCES [dbo].[EXAM] ([CODEEXAM])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK_REGISTRATION_EXAM]
GO
ALTER TABLE [dbo].[REPLY]  WITH CHECK ADD  CONSTRAINT [FK_REPLY] FOREIGN KEY([CODEQUES])
REFERENCES [dbo].[QUESTION] ([CODEQUES])
GO
ALTER TABLE [dbo].[REPLY] CHECK CONSTRAINT [FK_REPLY]
GO
ALTER TABLE [dbo].[REPLY]  WITH CHECK ADD  CONSTRAINT [FK_REPLY2] FOREIGN KEY([CODETASK])
REFERENCES [dbo].[TASK] ([CODETASK])
GO
ALTER TABLE [dbo].[REPLY] CHECK CONSTRAINT [FK_REPLY2]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_HAS9] FOREIGN KEY([CODEREGIS])
REFERENCES [dbo].[REGISTRATION] ([CODEREGIS])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_HAS9]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_RELATIONSHIP_7] FOREIGN KEY([CODEEXAM])
REFERENCES [dbo].[EXAM] ([CODEEXAM])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_RELATIONSHIP_7]
GO
USE [master]
GO
